//Profile config names for nf-core/configs

params {
  config_profile_description = 'National University of Ireland, Galway Lugh cluster profile provided by nf-core/configs'
  config_profile_contact = 'Barry Digby (@BarryDigby)'
  config_profile_url = 'https://github.com/nf-core/configs/blob/master/docs/lugh.md'
}

singularity {
  enabled = true
  autoMounts = true
  cacheDir = '/data/containers'
}

process {
  beforeScript = """
                    module load EasyBuild/3.9.4
                    module load java/1.8.0
                    module load singularity/3.4.1
                    ulimit -s unlimited
                 """
                 .stripIndent()
  containerOptions = '-B /data:/data'
  executor = 'slurm'
  queue = { task.memory >= 55.GB || task.cpus > 16 ? 'highmem' : 'normal' }

// 1. If Slurm kills the job (codes 137/143) or memory fails, retry automatically
  errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'finish' }
  maxRetries = 3

  // 2. Override memory. 
  // This sets a safe start of 12GB. If it retries, it doubles (24GB, 36GB).
  memory = { 12.GB * task.attempt }
  
  // -----------------------
}

params {
  max_time = 120.h
  max_memory = 125.GB
  max_cpus = 32
}

executor {
  queueSize = 15
  submitRateLimit = '10 sec'
}
