//Profile config names for nf-core/configs

params {
  config_profile_description = 'National University of Ireland, Galway Lugh cluster'
  config_profile_contact = 'Mehak Chopra (@chopraamhk)'
}

apptainer {
    enabled    = true
    autoMounts = true
    // This is where images are stored
    cacheDir   = "/data4/mchopra/genewiz_azenta/90-1155124233/analysis_mc/.apptainer"
    
    // IMPORTANT: -C clears host environment variables to prevent the 'mkdir' error.
    // IMPORTANT: We must bind /data4 because that is where your files are.
    runOptions = '-C -B /data:/data -B /data4:/data4'
}

process {
    executor = 'slurm'
    
    // REMOVED 'module load' from here. 
    // The container is already running; you don't load the engine inside itself.
    beforeScript = 'ulimit -s unlimited'
    
    queue = { task.memory >= 55.GB || task.cpus > 16 ? 'highmem' : 'normal' }
}

params {
    max_time = 120.h
    max_memory = 125.GB
    max_cpus = 32
}

executor {
    queueSize = 15
    submitRateLimit = '10 sec'
}
